doctype html
html
  head
    script(src='genie.js')
  body
    | Address
    input(id='addr',value="94A7")
    br
    | Data
    input(id='data',value="2")
    br
    | Compare
    input(id='cmp',value="3")
    br
    br
    div(id='output' style="font-weight: bold;")