doctype html
html
  head
    script(src='genie.js')
  body
    | Address
    input(id='addr')
    br
    | Data
    input(id='data')
    br
    | Compare
    input(id='cmp')
    br
    br
    div(id='output' style="font-weight: bold;")